{% extends "templates_for_creating_and_logging_in/base.html" %}
{% block title%} Account Creation {% endblock %}
{% block type %} 
<h1> Creating Your Appcounting Account!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}
{% endblock %}
{% block pw_qualifications %}
    <h5>Password must have 1 uppercase, 1 lowercase, and</h5>
    <h5>atleast one special character (!, @, #, $, %, ^, &, *, ?)</h5>
{% endblock %}